:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000;

  --color-accent: #34547a;

  /* Backgrounds */
  --color-background-primary: #f9f9f9;
  --color-background-secondary: #eeeff1;

  /* Typography */
  --font-size: 16px;
  --font-family: "Roboto", sans-serif;
  --color-secondary-text: #727272;

  /* Paddings */
  --horizontal-padding: 30.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  margin: 0%;
  background-color: var(--color-background-primary);
}

.header {
  background-color: var(--color-background-secondary);
  padding-top: 79px;
  padding-bottom: 140px;
}

.navbar {
  margin-inline-start: var(--horizontal-padding);
}

.navbar__list {
  display: flex;
  column-gap: 42px;
}

.navbar__item {
  min-width: 84;
  min-height: 64;
}

.navbar__link {
  text-decoration: none;
  color: var(--color-black);
  display: block;
  text-transform: uppercase;
}

.navbar__link:hover {
  color: var(--color-accent);
  transition: 100ms;
  scale: 1.1;
}

.content {
  flex-direction: column;
  max-width: 540px;
  padding-top: 162px;
  margin-inline-start: var(--horizontal-padding);
}

.content__title {
  font-size: 48px;
  line-height: 1.64px;
  padding-bottom: 60px;
}

.content__description {
  font-weight: 400;
  line-height: 1.64;
  color: var(--color-secondary-text);
  padding-bottom: 64px;
}

.content__link {
  background-color: var(--color-accent);
  color: var(--color-white);
  text-decoration: none;
  padding: 20px 40px;
  max-width: 225px;
  text-transform: uppercase;
}

.content__link:hover {
  background-color: #2a4365;
}

.about__me__section {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 112px 0 100px 0;
}

.section__title {
  font-size: 32px;
  line-height: 1.17;
  font-weight: 500;
  padding-bottom: 50px;
}

.section__description {
  font-weight: 400;
  line-height: 1.64;
  max-width: 540px;
  color: var(--color-secondary-text);
}

.experience__section {
  column-gap: 45px;
  padding: 100px 0;
  background-color: var(--color-accent);
}

.experience__section__list {
  display: flex;
  column-gap: 40px;
  justify-content: center;
}

.experience__section__item {
  display: flex;
  column-gap: 20px;
}

.experience__section__item__trailing {
  display: grid;
}

.experience__section__item__title {
  font-size: 21px;
  line-height: 1.17;
  font-weight: 500;
  color: var(--color-white);
}

.experience__section__item__subtitle {
  font-size: 16px;
  line-height: 1.64;
  color: var(--color-white);
}

.how__i__work__section {
  padding: 100px 0;
  display: grid;
  text-align: center;
  justify-items: center;
}

.how__i__work__section__player {
  padding-top: 50px;
}

.footer {
  display: grid;
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 50px var(--horizontal-padding) 50px var(--horizontal-padding);
}

.how__i__work__section__player {
  padding: 50px var(--horizontal-padding) 0 var(--horizontal-padding);
}

.footer__section_author {
  font-size: 21px;
  font-weight: 500;
  line-height: 1.17;
}

.footer__section_all_rights {
  padding-top: 10px;
  font-size: 13px;
  line-height: 1.64;
}
